body {
    background-color: #082970;
    margin: 30px 10px;
   }
   caption {
    text-decoration: underline;
    font-family: "Arial Rounded MT Bold";
    font-weight: 900;
    font-size: 12pt;
    color: lavender;
   }

   .resultado{
    margin: 100px auto;
    margin-top: -100px;
    width: 600px;
    border: black;
    background-color: aqua;
   }

   .oper{
    margin: 170px auto;
    padding: 5px;
    width: 600px;
    border: black;
    background-color: rgb(19, 231, 107);
   }
   li{
       list-style: none;
       padding: 5px 10px 5px 65px;
       display: inline-block; 
   }
   #tablas{
    border: outset 1px rgb(76, 0, 255);
   }
   a[class="a"]{
    text-decoration: none;
    text-align: center;
    padding-left: 43%;
  }
  